$break-small: 400px;

.tag-wrapper {
  line-height: 1.3em;
  font-family: "Inconsolata", sans-serif;

  @media screen and (max-width: $break-small) {
    line-height: 5em;
  }
}

  .tag {
    background: rgba(255, 255, 255, .4);
    padding: 1px 3px;
    border-radius: 100px;
    color: #dedede;
    white-space: nowrap;
    font-size: .8em;
    text-transform: capitalize;
    border: 0;
  }

  .tag.mod-off {
    background: rgba(255, 255, 255, .15);
    color: #999;
  }

  .tag.mod-clickable {
    cursor: pointer;
    @media screen and (max-width: $break-small) {
      padding: 5px 6px;
    }
  }

.tag.mod-big {
  font-size: 1.6em;
}
