
.tag-wrapper {
  line-height: 1.3em;
}

  .tag {
    background: rgba(255, 255, 255, .4);
    padding: 1px 3px;
    border-radius: 100px;
    color: #dedede;
    white-space: nowrap;
    font-size: .8em;
    text-transform: capitalize;
  }

.tag.mod-big {
  font-size: 1.6em;
}
