
.loader {
  display: flex;
  color: #dedede;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', sans-serif;

  animation: blink-animation 1s steps(5, start) infinite;
}

  .loader-text {
    flex: 1;
  }

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}
