
.loader {
  display: flex;
  color: #dedede;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
}

  .loader-blink {
    animation: blink-animation 1s steps(5, start) infinite;
  }

  .loader-desc {
    margin-top: 1em;
    color: #a2a2a2;
  }

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}
