
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-size: 14px;
}

.app {
  background: #090b0e;
  width: 100vw;
  height: 100vh;
}

  .filter-bar {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
  }
