$break-small: 400px;

.search {
  background: rgba(255, 255, 255, .1);
  border: none;
  font-family: "Inconsolata", sans-serif;
  font-size: 1.4em;
  padding: .2em;
  color: #fff;
  border-radius: 2px;
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: $break-small) {
    margin: 1em 0;
  }
}
